body{
	background: url("image/teahub.io-pepe-wallpaper-489173.png");
	padding-top: 30vh;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
.bg{
  height: 100%;
}
form{
	background: #fff;
  margin-bottom: 20vh;
}

.form-container{
	border-radius: 10px;
  padding: 30px;
}
.inlogin{
  margin-bottom: 10px;
}
.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.goglog{
  margin-top: -10px;

}
.btn:hover{
  color: white;
}
