<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme it!</title>
    <script></script>
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>MEME IT!</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="templates">Templates</a></li>
                                      
                </ul>
            </div>
        </nav>
        <section>
            <div class="container">
                <div class="left">
                    <h1>Free online <span>MEME</span> maker</h1>
               <p>Quickly edit, resize or make new memes in no time with the meme maker</p>
               <a href="#" class="button">Make your meme now</a>
                </div>
                <div class="right">
                    <img src="/images/rightimg.png" alt="">
                </div>
            </div>
        </section>
    </header>
   
    
</body>
</html>